.profile {
    &__cover {
        background-repeat: no-repeat;
        height: 220px;
        background-size: cover;
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }
    &__avatar {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin-top: 15px;
    }
    &__name {
        padding-top: 5px;
        color: white;
        font-weight: bold;
    }
}