.page-home {
    background: #f7f7f7;
    .header {
        height: 225px;
        position: relative;
        z-index: 1;
        .card-title {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            line-height: 1;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
    }
    .event {
        &__container {
            display: flex!important;
            align-content: center!important;
            align-items: center!important;
        }
        &__item {
            height: 60px;
            color: white;
            background: #4e75b9;
            border-radius: 2px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            position: relative;
            &-title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                font-size: 1.2em;
                padding: 15px;
                font-weight: bold;
                color: #fff;
                line-height: 1;
            }
        }
    }
    .feeds {
        margin-top: -20px;
        &__title {
            font-size: 1.5em;
            font-weight: bold;
        }
        &__container {
            margin-top: -25px;
            text-align: left;
        }
        &__timeline {
            padding: 2em 0;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 18px;
                height: 100%;
                width: 4px;
                background: #d7e4ed;
            }
        }
    }
}

#event_container {
    z-index: 9;
    transform: translateY(-50%);
    justify-content: center;
}

#create-event {
    background-size: cover;
}

#find-event {
    background-size: cover;
    margin-right: 10%;
    background-position: 50%;
}

.swiper-pagination {
    bottom: 40px!important;
}

#feeds {
    ion-card {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}