// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    // background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .3), transparent 30%, transparent 70%, rgba(0, 0, 0, .3));
    // background-image: linear-gradient(180deg, rgba(0, 0, 0, .3) 0, transparent 30%, transparent 70%, rgba(0, 0, 0, .3))
    background-color: rgba(0, 0, 0, 0.15);
}